* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.btn-check:checked+.btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check)+.btn:active {
  border-color: unset !important;
}

.btn {
  border: unset !important;
}



.placeholder-glow .placeholder {
  height: 40px;
  margin-top: 10px;
  border-radius: 4px;
}