.Form {
    padding: 20px !important;
    /* width: 33% !important; */
    margin: auto !important;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.MainContainer {
    justify-content: center !important;
    align-items: center !important;
    display: flex;
}

.BoxForAuth{
    width: 70%;
    margin: auto;
}


.gridBox {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100dvh;
}

.gridBoxParent{
    background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
}

.FormBox {}

.btnAuth {
    font-size: 15px !important;
}


.Heading {
    text-align: center !important;
}

.Heading h5 {
    color: #fff;
    font-size: 30px !important;
}


.inputBox {
    background-color: transparent !important;
}


.input-group-text {
    background-color: transparent;
    color: #fff;
}

.inputBox {
    background-color: transparent !important;
    color: #000 !important;
}

.FormFeild {
    margin-top: 12px;
}

.BtnBox {
    text-align: center;
}

.Errors {
    color: red;
    font-size: 13px !important;
}


/*  */
.BoxForTab {
    /* min-height: 80vh; */
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 100px;
}

.btnAuth {
    margin: 20px;
    border-radius: 0px !important;
    border: 0px solid green;
    padding: 8px 17px 8px 17px !important;
}

.navigate {
    margin: 10px 10px 40px 10px !important;
    color: #000 !important;
    cursor: pointer;
    padding: 10px !important;
    border-bottom: 0.85px solid #000;
}

.config {

    background-color: red;
    padding: 20px;
    border: 2px solid black;
    margin: 20px;

}