.RowBox {
    display: flex;
    width: 90%;
    align-items: center;
    justify-content: space-between;
}

.GlobalBtn {
    border: 1px solid #000 !important;
}

.parent_status_bar {
    background-color: #f5f3fe;
}

.status_bar {
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: auto;
}

.data_users {
    width: 90%;
    margin-top: 54px;
}




.BoxForProfile{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}