.chat_box {
    border-radius: 4px;
    margin: 10px;
    padding: 10px;
    height: calc(100vh - 58px);
}

.chat_list_box {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: #fff;
    padding: 10px;
    border-radius: 4px;
    height: 800px !important;
}



.ImageFrame {
    background-color: rgb(197, 187, 187);
    border-radius: 100%;
    width: 70px;
    height: 70px;
}

.ListGroupDiv {
    background-image: linear-gradient(to right, #E0EAFC 0%, #CFDEF3 51%, #E0EAFC 100%);
    display: flex;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 6px;
    padding: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.name_email {
    margin-left: 10px;
}

.email {
    font-weight: 600;
}

.box_not_found_flex {
    display: flex;
    align-items: center !important;
    justify-content: center;
    height: 100% !important;

}

.GroupBtnCreate {
    background: #fff;
    color: #000;
    border: 1px solid black !important;
}

.GroupBtnCreate:hover {
    background: #fff;
    color: #000;
}

.chatHead {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.image_not_found {
    width: 300px;
    height: 35%;
    border-radius: 9px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

